@font-face {
    font-family: 'GG Sans';
    font-style: normal;
    font-weight: 300;
    src: url(assets/fonts/ggsans/ggsans-Normal.woff2);
}

@font-face {
    font-family: 'GG Sans';
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/ggsans/ggsans-Medium.woff2);
}

@font-face {
    font-family: 'GG Sans';
    font-style: normal;
    font-weight: 500;
    src: url(assets/fonts/ggsans/ggsans-Semibold.woff2);
}

@font-face {
    font-family: 'GG Sans';
    font-style: normal;
    font-weight: 600;
    src: url(assets/fonts/ggsans/ggsans-Bold.woff2);
}

@font-face {
    font-family: 'GG Sans';
    font-style: italic;
    font-weight: 300;
    src: url(assets/fonts/ggsans/ggsans-NormalItalic.woff2);
}

@font-face {
    font-family: 'GG Sans';
    font-style: italic;
    font-weight: 400;
    src: url(assets/fonts/ggsans/ggsans-MediumItalic.woff2);
}

@font-face {
    font-family: 'GG Sans';
    font-style: italic;
    font-weight: 500;
    src: url(assets/fonts/ggsans/ggsans-SemiboldItalic.woff2);
}

@font-face {
    font-family: 'GG Sans';
    font-style: italic;
    font-weight: 600;
    src: url(assets/fonts/ggsans/ggsans-BoldItalic.woff2);
}

@font-face {
    font-family: 'Reddit Mono';
    font-style: normal;
    font-weight: 900;
    src: url(assets/fonts/redditmono/static/RedditMono-Black.ttf);
}

@font-face {
    font-family: 'Reddit Mono';
    font-style: normal;
    font-weight: 700;
    src: url(assets/fonts/redditmono/static/RedditMono-Bold.ttf);
}

@font-face {
    font-family: 'Reddit Mono';
    font-style: normal;
    font-weight: 800;
    src: url(assets/fonts/redditmono/static/RedditMono-ExtraBold.ttf);
}

@font-face {
    font-family: 'Reddit Mono';
    font-style: normal;
    font-weight: 200;
    src: url(assets/fonts/redditmono/static/RedditMono-ExtraLight.ttf);
}

@font-face {
    font-family: 'Reddit Mono';
    font-style: normal;
    font-weight: 300;
    src: url(assets/fonts/redditmono/static/RedditMono-Light.ttf);
}

@font-face {
    font-family: 'Reddit Mono';
    font-style: normal;
    font-weight: 500;
    src: url(assets/fonts/redditmono/static/RedditMono-Medium.ttf);
}

@font-face {
    font-family: 'Reddit Mono';
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/redditmono/static/RedditMono-Regular.ttf);
}

@font-face {
    font-family: 'Reddit Mono';
    font-style: normal;
    font-weight: 600;
    src: url(assets/fonts/redditmono/static/RedditMono-SemiBold.ttf);
}

@font-face {
    font-family: 'Reddit Mono';
    font-style: normal;
    font-weight: 100 900;
    src: url(assets/fonts/redditmono/RedditMono-VariableFont_wght.ttf) format('woff2-variations');
}
